@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

.AFBrandingBarLogoLarge {
    background-image: url("../../img/sigrand_logo.png"); 
    height: 6em; 
    width: 230px; 
}

.AFBrandingLogoTitleContainer {
    top: 0px; 
}